<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeddingVenue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C9B95B41DF5E53900E0FFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C9B95C81DF5E53A00E0FFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C9B95D31DF5E53A00E0FFBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
